kind: Service
apiVersion: v1
metadata:
  name: rvstore-ui
  namespace: rvstore
spec:
  type: NodePort
  selector:
    app: ui
  ports:
  - protocol: TCP
    port: 80
    nodePort: 30080
---
kind: Service
apiVersion: v1
metadata:
  name: rvstore-product-api
  namespace: rvstore
spec:
  type: ClusterIP
  selector:
    app: product-api
  ports:
  - protocol: TCP
    port: 9001
---
kind: Service
apiVersion: v1
metadata:
  name: rvstore-auth-api
  namespace: rvstore
spec:
  type: ClusterIP
  selector:
    app: auth-api
  ports:
  - protocol: TCP
    port: 9003
---
kind: Service
apiVersion: v1
metadata:
  name: rvstore-order-api
  namespace: rvstore
spec:
  type: ClusterIP
  selector:
    app: order-api
  ports:
  - protocol: TCP
    port: 9002

---
kind: Service
apiVersion: v1
metadata:
  name: rvstore-api-gateway
  namespace: rvstore
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
  - protocol: TCP
    port: 9000
    nodePort: 30090
